@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/circe-bold.eot');
    src: local('☺'), url('../fonts/circe-bold.woff') format('woff'), url('../fonts/circe-bold.ttf') format('truetype'),
        url('../fonts/circe-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/circe-regular.eot');
    src: local('☺'), url('../fonts/circe-regular.woff') format('woff'), url('../fonts/circe-regular.ttf') format('truetype'),
        url('../fonts/circe-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam Bold';
    src: url('../fonts/gilam-bold.eot');
    src: local('☺'), url('../fonts/gilam-bold.woff') format('woff'), url('../fonts/gilam-bold.ttf') format('truetype'),
        url('../fonts/gilam-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam Book';
    src: url('../fonts/gilam-book.eot');
    src: local('☺'), url('../fonts/gilam-book.woff') format('woff'), url('../fonts/gilam-book.ttf') format('truetype'),
        url('../fonts/gilam-book.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilam Regular';
    src: url('../fonts/gilam-regular.eot');
    src: local('☺'), url('../fonts/gilam-regular.woff') format('woff'), url('../fonts/gilam-regular.ttf') format('truetype'),
        url('../fonts/gilam-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilam Semi Bold';
    src: url('../fonts/gilam-semi-bold.eot');
    src: local('☺'), url('../fonts/gilam-semi-bold.woff') format('woff'), url('../fonts/gilam-semi-bold.eot.ttf') format('truetype'),
        url('../fonts/gilam-semi-bold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
