@import 'fonts.css';

body {
    font-family: 'Gilam Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    background-color: #171717;
}
[class*='__container'] {
    max-width: 1490px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* header--------------------------------- */

.wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/parallax-bg.jpeg');
    height: 100%;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 110px;
}

.header__tel {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin-right: 39px;

    font-family: 'Circe Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.header__tel span {
    color: #d6af76;
    margin-right: 5px;
}

.header__button {
    flex: 0 0 218px;
}

.button {
    font-family: 'Circe Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #e4b564;
    padding: 11px 26px 11px 23px;
    border: 1px solid #e4b564;
}

.tel {
    background-image: url(../img/tel.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

/* main-------------section-network------------------ */

.main {
    flex: 1 1 auto;
}
.title {
    font-family: 'Gilam Bold';
    font-size: 50px;
    line-height: 28px;
    margin: 80px 0 45px;
}

.network__info {
    margin-bottom: 40px;
}
.network__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
    text-align: center;
}

.item {
    padding: 220px 39px;
}
.network__item1 {
    background-color: #634f2c;
    grid-column: span 2;
}
.network__item2 {
    background-color: #b4a385;
    grid-column: span 2;
    padding: 206px 39px;
}
.network__item3 {
    background-color: #e4b564;
    grid-column: span 2;
}
.network__item4 {
    background-color: #635a4a;
    grid-column: span 3;
}
.network__item5 {
    background-color: #b08c4d;
    grid-column: span 3;
}

/* main-------------section-park----------------- */

.park__items {
    height: 896px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.park__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 34%;
}
.park__item1 {
    height: 313px;
    background-color: #0e0e0e;
    font-family: 'Gilam Book';
    font-weight: 400;
    line-height: 25px;
    padding: 44px 52px;
}
.park__item3,
.park__item7 {
    flex: 1;
    font-family: 'Gilam Book';
    font-weight: 400;
    line-height: 25px;
    padding: 44px 52px;
}
.park__item2,
.park__item4,
.park__item5,
.park__item6 {
    flex: 1;
    font-family: 'Gilam Semi Bold';
    font-weight: 500;
    line-height: 25px;
    padding: 44px 52px;
}

.park__item2 {
    background-color: #1f1f1f;
}
.park__item3 {
    background-color: #242424;
}
.park__item4 {
    background-color: #e4b564;
}
.park__item5 {
    background-color: #1f1f1f;
}
.park__item6 {
    background-color: #0e0e0e;
}
.park__item7 {
    background-color: #0a0909;
}

/* main-------------section-projects------------------ */

.projects__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__header-button {
    margin: 80px 0 45px;
}

.small_btn {
    padding: 0px 13px;
}

.projects__items {
    display: grid;
    grid-template: repeat(2, 391px) / 1fr 1fr 1fr;
    text-align: center;
}

.projects__items div {
    transition: all 0.2s ease-in;
}

.projects__item-link {
    padding: 171px 151px;
    display: block;
}

.projects__item_link {
    display: block;
    margin-bottom: 16px;
}

.projects__item1 {
    background-color: #634f2c;
}
.projects__item2 {
    background-color: #e7c68d;
    padding: 61px 55px;
    font-family: 'Gilam Book';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    cursor: pointer;
}
.projects__item3 {
    background-color: #e4b564;
}
.projects__item4 {
    background-color: #635a4a;
}
.projects__item5 {
    background-color: #b08c4d;
}
.projects__item6 {
    background-color: #634f2c;
}

/* footer------------------------------------------------ */

.footer__container {
    min-height: 90px;
}

/* ------------------------------------------------------- */

.projects__items div:hover {
    transform: scale(1.01);
}
