@font-face {
    font-family: 'Univers LT 59 Ultra';
    src: url('../font/Univers\ LT\ 59\ Ultra.eot');
    src: url('../font/Univers\ LT\ 59\ Ultra.eot') format('embedded-opentype'), url('../font/Univers\ LT\ 59\ Ultra.woff2') format('woff2'),
        url('../font/Univers\ LT\ 59\ Ultra.woff') format('woff'), url('../font/Univers\ LT\ 59\ Ultra.ttf') format('truetype'),
        url('../font/Univers\ LT\ 59\ Ultra.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
