@import url(./font.css);

body {
    font-family: 'Univers LT 59 Ultra';
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 1.6px;
}

.letterbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
}

.wrapper {
    width: 100vw;
    height: 89vh;
    background-color: rgb(0, 0, 0);
    background-image: url(../img/starwarsbg.webp);
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.codeWars-logo {
    position: absolute;
    height: 750px;
    width: 1320px;

    top: 90px;
    left: 300px;
    background-image: url(../img/codewars.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform: scale(1.5);
    animation: codeWars-logo 15s ease-in forwards;
}

@keyframes codeWars-logo {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        transform: scale(0);
    }
}

.main-text__wrap {
    margin: 0 auto;
    text-align: left;
    color: #9e821c;
    overflow: hidden;
    height: 700px;
    width: 795px;

    transform: perspective(420px) rotate3d(1, 0, 0, 40deg);
}

.main-text {
    animation: war 90s linear infinite both 15.5s;
}

.main-text__title {
    text-align: center;
}

.text {
    margin-bottom: 20px;
}

@keyframes war {
    0% {
        transform: translateY(682px);
    }

    100% {
        transform: translateY(-1170px);
    }
}

.audio {
    width: 255px;
    height: 25px;
    margin-top: 17px;
}
