body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-image: url(../img/bg.png);
    background-color: #362819;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 46px 3px 0px;
}

[class*='__container'] {
    max-width: 1030px;
    margin: 0 auto;
}

/* --------header------------------------------------- */

.header__container {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    transition: all 0.3s ease;
}

.logo__image path {
    fill: currentColor;
}

.logo__name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1px 0px 0px 8px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo__name div:first-child {
    font-size: 29px;
    line-height: 29px;
}

.logo__name div:last-child {
    font-size: 18px;
    line-height: 18px;
    opacity: 0.8;
}

.header__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.header__info-mail,
.header__info-tel {
    transition: all 0.25s ease;
}

/* --------main--------------------------------------- */

.main {
    flex: 1 1 auto;
    margin: 22px 0px 17px;
}

.main__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content {
    height: 560px;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 261px) / repeat(3, 1fr);
    grid-column-gap: 54px;
    grid-row-gap: 37px;
}

.content__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 300px;
    height: 220px;
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border: 2px solid;
    border-image: linear-gradient(180deg, rgb(62, 62, 65), rgb(67, 65, 68)) 1;
}

.item__hiden-block {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #f26522;
    padding: 7px 31px 10px 16px;
    position: absolute;
    bottom: -55px;
    transition: all 0.4s ease;
}

.hiden-block__info {
    flex: 0 0 36px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.hiden-block__info span {
    display: inline-block;
    margin-top: 7px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.hiden-block__details {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.item__description {
    transition: all 0.4s ease;
}

.item_img1 {
    background-image: url(../img/1_shoping.png);
}

.item_img2 {
    background-image: url(../img/2_sights.png);
}

.item_img3 {
    background-image: url(../img/3_food.png);
}

.item_img4 {
    background-image: url(../img/4_bar.png);
}

.item_img5 {
    background-image: url(../img/5_art.png);
}

.item_img6 {
    background-image: url(../img/6_walking.png);
}

/* --------footer------------------------------------- */

.footer__container {
    min-height: 67px;
    padding: 31px 0px 15px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

/* ----------------------------------------------------- */

.header__logo:hover,
.header__info-mail:hover,
.header__info-tel:hover,
.content__item:hover .item__description {
    color: #f26522;
}

.content__item:hover .img .item__hiden-block {
    bottom: 0px;
}

.hiden-block__details::after {
    content: '';
    width: 16px;
    height: 12px;
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    bottom: 12px;
    right: 15px;
}
