header {
    height: 190px;
    margin-bottom: 48px;
}

h1 {
    margin-bottom: 38px;
}

.wrapper {
    max-width: 1280px;
    margin: 63px auto 30px;
}

.logo {
    font-size: 80px;
    line-height: 82px;
    color: black;
}

.logo span {
    color: #4bcaff;
}

.header__nav {
    height: 72px;
    background-color: #35444f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav li:last-of-type {
    border-right: 1px solid white;
}

.header__nav-link {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    display: block;
    padding: 24px 38px 18px 38px;
    border-left: 1px solid white;
    background-color: #35444f;

    transition: all 1s ease;
}

.header__nav-link:hover {
    background-color: #222f3a;
}

/* main */
.container {
    display: flex;
    justify-content: space-between;
    column-gap: 49px;
}

.sidebar {
    min-width: 344px;
    max-height: 399px;
    border: 1px solid #000000;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar__link {
    font-size: 27px;
    line-height: 27px;
    color: #485863;

    display: block;
    padding: 25px 0px 27px 44px;

    transition: all 0.9s ease;
}

.sidebar__link:hover {
    font-size: 27px;
    line-height: 27px;
    color: #000000;
    display: block;
    background-color: #dbdbdb;
    padding: 25px 0px 27px 70px;
}

.main__logo {
    max-width: 880px;
    height: 529px;
    border: 1px solid #000000;

    margin-bottom: 37px;
}

.main__logo-img {
    display: block;
    padding: 74px 281px;

    transition: all 2s ease;
}

.main__logo-img:hover {
    transform: scale(1.2);
}

.main__text p {
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    margin-bottom: 34px;
}

/* footer */
.footer {
    height: 69px;
    background-color: #63696e7a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px 40px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.footer__nav-link {
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;
    position: relative;
    transition: all 0.9s ease;
}

.footer__nav-link:hover {
    color: #3181a6;
}

.footer__nav-link::after {
    content: '';
    background: #3181a6;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -7px;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.9s ease;
}

.footer__nav-link:hover::after {
    transform: scaleX(1);
}

.footer__info {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
