@import './font.css';

body {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    user-select: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #755d4d;
    background-position: center;
}

[class*='__container'] {
    max-width: 1366px;
    margin: 0 auto;
}

/* ===== HEADER ======================================================== */

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__container {
    height: 100%;
    width: 100%;
    padding: 0px 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-block__icons {
    display: flex;
    justify-content: space-between;
    width: 126px;
    padding: 0px 5px 0px 3px;
    margin-right: 48px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon {
    display: block;
    cursor: pointer;
}

.icon path {
    fill: currentColor;
    transition: all 0.3s ease;
}

.info-block__welcome {
    position: relative;
}

.welcome__link {
    transition: all 0.3s ease;
}

/* -------------------------------------------------------------- */

.header__logo:hover,
.welcome__link:hover {
    color: #3cb878;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-block__welcome::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    top: -2px;
    left: -27px;
}

.icon:hover {
    color: #3cb878;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ===== MAIN ========================================================== */

.main__container {
    height: calc(100vh - 58px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- main -------- registration__title ------------------------ */

.registration {
    position: relative;
    width: 444px;
    height: 584px;
    padding: 29px 60px 38px;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.strange__square {
    position: absolute;
    left: 0px;
    top: 29px;
    width: 18px;
    height: 18px;
    background: #3cb878;
}

.registration__title {
    display: flex;
    flex-direction: column;
}

.title__sign-up {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    margin-bottom: 13px;
}

.title__sign-up span {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.registration-link {
    color: #3cb878;
    transition: all 0.3s ease;
}

/* -------------------------------------------------------------- */

.registration-link:hover {
    color: #01813f;
    text-decoration: underline;
}

/* --- main -------- registration__title__button ---------------- */

.title__button {
    display: flex;
    gap: 9px;
    justify-content: center;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.button__blue {
    background-color: #305db8;
    padding: 11px 21px 12px 14px;
}
.button__red {
    background-color: #df4a32;
    padding: 15px 28px 14px 9px;
}

.btn-company {
    margin-left: 38px;
}

.registration__border {
    position: relative;
    color: #848484;

    margin: 31px auto 12px;
}

/* -------------------------------------------------------------- */

.button__red:hover {
    background-color: #ab1f09;
}
.button__blue:hover {
    background-color: #022263;
}

.button::before {
    content: '';
    position: absolute;

    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;

    background: #0a162f;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.registration__border::before {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    left: 17px;
    top: 8px;
    background-color: #f2f2f2;
}

.registration__border::after {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    right: 17px;
    top: 8px;
    background-color: #f2f2f2;
}

/* --- main -------- registration__user-info -------------------- */

.form__field-wrap {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.input {
    width: 100%;
    padding: 15px 0px 14px 20px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    transition: all 0.3s ease;
}

.input::placeholder {
    color: #bebebe;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.3s ease;
}

.input[type='password'] {
    font-family: 'fontello';
}

.button__geen {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    padding: 15px 106px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    cursor: pointer;

    transition: all 0.3s ease;
}

/* -------------------------------------------------------------- */

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-color: transparent;
    padding-left: 19px;
}

.input:focus.input::placeholder {
    color: #434343;
}

.button__geen:hover {
    background: #01813f;
}

/* --- main -------- registration__checkbox --------------------- */

.checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0px 20px 2px;
}

.checkbox {
    width: 20px;
    height: 20px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-hidden,
.checkbox__tick {
    display: none;
}

.checkbox__text {
    color: #434343;
}

/* ------------------------------------------------------------ */

.checkbox-hidden:checked ~ .checkbox .checkbox__tick {
    display: block;
}
.checkbox-hidden:checked ~ .checkbox:hover .checkbox__tick path {
    stroke: #01813f;
}
