*,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    color: #373737;
}

h2 {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
}
/* header */
header {
    min-height: 78px;
    list-style: none;
    padding: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    margin: 0 auto;
}

.nav__link {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #ff0000;
    column-gap: 72px;
}
/* main */
.main__img {
    height: 789px;
    background-image: url(../img/hero.png);
    background-color: #926577;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main__content {
    max-width: 1240px;
    padding: 48px 68px 0px;
    margin: 0 auto;
    text-align: center;
}

.main__text {
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.main__text p {
    margin-bottom: 28px;
}

.main__btn {
    margin: 84px 0 99px;
}

.btn__link {
    background: #ff0000;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #ffffff;
    text-transform: uppercase;

    padding: 18px 43px;
}
/* footer */
.footer__info {
    line-height: 20px;
    letter-spacing: 2.4px;
    margin: 82px 105px 29px;
    text-align: right;
}
